@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 배경 (고정) */
  --color-app: #5d6f79;

  /* 텍스트 */
  --color-text: #000000;

  /* 박스 */
  --color-surface-main: #ffffff;
  --color-surface-sub: #f0eded;
}

.dark {
  /* 텍스트 */
  --color-text: #ffffff;

  /* 박스 */
  --color-surface-main: #454545;
  --color-surface-sub: #383838;
}

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    @apply bg-app text-text font-sans;
  }

  * {
    box-sizing: border-box;
  }

  button,
  input {
    font: inherit;
  }
}
